<ul class="sidebar-nav list-group">
  <li>
    <a
        style="text-decoration: none;
        font-size: 24px"
        href="{% url 'todo:index' %}">Home
    </a>
  </li>
  <li>
    <a
        style="text-decoration: none;
        font-size: 24px"
        href="{% url "todo:tag-list" %}">Tags
    </a>
  </li>
</ul>
<br>
<br>
<br>
{% if user.is_authenticated %}
  <p>{{ user.username }}</p>
  <a href="{% url 'logout' %}">Logout</a>
{% else %}
  <a href="{% url 'login' %}">Login</a>
{% endif %}
