{% extends '_base.html' %}

{#{% block pagination %}#}
{#  {% include "includes/index_pagination.html" %}#}
{#{% endblock %}#}

{% block content %}
  <a href="{% url 'todo:task-create' %}" class="btn btn-primary link-to-page">
    Create Task
  </a>

  {#  <h4>Page number: {{ post_list.number }}</h4>#}
  {% if task_list %}
    <ul>
      {% for task in task_list %}
        <li style="border: solid; border-radius: 8px">
          <p>Content: {{ task.content }}</p>
          <p>Created at: {{ task.created_at }}</p>
          <p>Deadline: {{ task.dead_line_time }}</p>
          <p>Status done: {{ task.is_done }}</p>
          <p>Tags: {% for tag in task.tags.all %}{{ tag.name }},{% endfor %}</p>
{#          <a href="{% url 'todo:task-delete' %}"#}
{#             class="btn btn-primary link-to-page">#}
{#            Delete#}
{#          </a>#}
{#          <a href="{% url 'todo:task-update' %}"#}
{#             class="btn btn-primary link-to-page">#}
{#            Update#}
{#          </a>#}

        </li>
        <br>
      {% endfor %}
    </ul>
  {% else %}
    <p>NO TASKS YET.</p>
  {% endif %}
{% endblock %}
