{% extends "_base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

{% block content %}
  <h1>
    List of Tags
    {% if user.is_authenticated %}
      <a href="{% url 'todo:tag-create' %}"
         class="btn btn-primary link-to-page">
        Create
      </a>
    {% endif %}
  </h1>
  {% if tag_list %}
    <table class="table purple-table-border">
      <thead class="purple-table-head">
      <tr>
        <th class="purple-50" scope="col">Tag name</th>
        <th class="purple-25" scope="col">Update</th>
        <th class="purple-25" scope="col">Delete</th>
      </tr>
      </thead>
      <tbody>
      {% for tag in tag_list %}
        <tr>
        <td>{{ tag.name }}</td>
        <td>
        {% if user.is_authenticated %}
          <a href="{% url 'todo:tag-update' pk=tag.pk %}"
               class="btn btn-purple">Update
          </a>
        {% endif %}
        </td>
        <td>
        {% if user.is_authenticated %}
          <a href="{% url 'todo:tag-delete' pk=tag.pk %}"
               class="btn btn-purple">Delete
          </a>
        {% else %}  
        {% endif %}
        </td>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    No comments yet.
  {% endif %}
{% endblock %}
